@use "@/styles/variables" as v;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

@mixin flexLeftCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin elementAccentDesktop {
    &:hover {
        cursor: pointer;
        filter: drop-shadow(0 0 6px v.$accent);
    }
}

@mixin elementAccent {
    &:focus {
        cursor: pointer;
        filter: drop-shadow(0 0 6px v.$accent);
    }
}

