@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.product-card {
  @include m.flexCenter;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;

  padding: 0.5em 0;
  width: 6.5rem;

  border-radius: 0.3rem;

  transition: scale, 150ms ease;

  &:active {
    scale: 105%;
  }

  img {
    width: 6.5rem;
    height: 6.5rem;

    border-radius: 0.3rem;
    background-color: v.$section-bg;

    object-fit: cover;
    object-position: center 25%;
  }

  .name,
  .price {
    width: 100%;
    text-align: center;
  }

  .name {
    padding: 0 0.25rem;

    font-size: v.$fs-body;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price {
    font-size: v.$fs-small;
    color: v.$accent-2;
  }

  .price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;

    width: 100%;
    min-height: 1.4rem;

    .original-price {
      margin: 0;

      font-size: 0.65rem;
      color: v.$error-color;
      text-decoration: line-through;

      opacity: 0.8;
      line-height: 1;

      &.hidden {
        visibility: hidden;
      }
    }

    p {
      @include m.flexCenter;

      svg {
        height: 100%;
      }
    }
  }

  @media (min-width: v.$desktop) {
    & {
      gap: 0.5rem;
      width: 10rem;
    }

    img {
      width: 10rem;
      height: 10rem;
    }

    .price {
      font-size: v.$fs-body;
    }

    .price-container {
      .original-price {
        font-size: v.$fs-small;
      }
    }
  }
}


