@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.about-content-container {
    @include m.flexCenter;
    flex-direction: column;

    gap: 1rem;

    grid-column: 1/-1;

    

    h1 {
        font-size: v.$fs-heading;
        font-weight: bold;
    }

    .about-content-section {
        @include m.flexColLeft;
        flex-direction: column;

        width: 100%;

        padding: 1rem;

        border: 1px solid v.$accent;
        border-radius: 0.3rem;

        h2 {
            margin-bottom: 0.5rem;

            font-size: v.$fs-sub;
            font-weight: bold; 
        }

        p {
            font-size: v.$fs-small;
        }

        ul {
            padding: 0 1rem;

            li {
                position: relative;
                padding: 0.25rem;

                font-size: v.$fs-small;
                font-weight: bold;
                
                color: v.$accent;

                list-style-type: none;

                span {
                    color: white;
                }

                &::before {
                    content: "";
                    position: absolute;

                    top: 45%;
                    left: -0.5rem;

                    width: 0.125rem;
                    height: 0.125rem;

                    border-radius: 100%;

                    background-color: v.$accent;
                }
            }
        }
    }
}