@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.account-settings-modal-background {
    position: fixed;
    top: 0;
    left: 0;

    @include m.flexCenter;

    padding: 1rem;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 2000;
}

.account-settings-modal-container {
    position: relative;
    @include m.flexCenter;
    justify-content: left;

    flex-direction: column;

    gap: 0.5rem;

    padding: 1rem;

    width: 100%;
    max-height: 60%;

    border: 1px solid v.$accent;
    border-radius: 0.75rem;

    background-color: v.$section-bg;

    h2 {
        margin-top: 1.25rem;
        margin-bottom: 1rem;

        font-size: v.$fs-heading;
        font-weight: bold;
    }

    .close-btn {
        position: absolute;
        top: 1.5rem;
        right: 1rem;

        img,svg {
            width: 2.125rem;
            height: 2.125rem;
        }
    }

    input {
        padding: 0.75rem 1rem;

        width: 100%;

        border: 1px solid v.$accent;
        border-radius: 0.5rem;

        color: white;
        background-color: transparent;

        font-size: v.$fs-sub;
    }

    .visibility-toggle {
        @include m.flexLeftCenter;

        width: 100%;

        label {
            width: 100%;

            font-size: v.$fs-body;

            text-wrap: nowrap;
        }

        .visibility-btn {
            @include m.flexCenter;

            padding: 0.25rem;

            width: 1.5rem;
            height: 1.5rem;

            border: 1px solid v.$accent;
            border-radius: 0.5rem;

            color: v.$accent-2;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .submit-btn {
        margin-top: 0.5rem;

        padding: 0.75rem 1rem;

        border: 1px solid v.$accent;
        border-radius: 0.5rem;

        color: v.$accent;

        font-size: v.$fs-sub;
    }
}