@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.cart-section {
    position: absolute;
    right: 0;
    top: 3rem;

    @include m.flexCenter;
    flex-direction: column;

    padding: 0;

    width: 100%;

    border: 1px solid v.$accent;
    border-radius: 0.75rem;

    background-color: v.$section-bg;

    .cart-container-top, .cart-container-middle, .cart-container-bottom {
        @include m.flexCenter;

        width: 100%;
        height: 100%;
    }

    .cart-container-top {
        position: relative;

        border-bottom: 1px solid v.$border-color;

        h2 {
            padding: 1rem;
            padding-top: 1.75rem;

            font-family: v.$font-body;

            font-size: v.$fs-heading;
            font-weight: 600;
        }

        .icon {
            position: absolute;

            top: 1.25rem;
            right: 1rem;

            width: 2.125rem;
            height: 2.125rem;
        }
    }

    .cart-container-middle {
        @include m.flexColLeft;
        flex-direction: column;

        padding: 0.5rem 0.25rem;


    }

}