@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.background-overlay {
  position: fixed;
  right: 0;
  top: 3.5rem;

  width: 100%;
  height: 100vh;

  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.8);
}

.cart-section {
  @include m.flexCenter;
  flex-direction: column;

  padding: 0;

  width: 100%;

  border: 1px solid v.$accent;
  border-radius: 0.75rem;

  background-color: v.$section-bg;

  z-index: 1000;

  .cart-content {
    width: 100%;
    height: 100%;
  }

  .cart-container-top,
  .cart-container-middle,
  .cart-container-bottom {
    @include m.flexCenter;

    width: 100%;
    height: 100%;
  }

  .checkout-message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  
  animation: fadeIn 0.3s ease-out;
  
  &.success {
    background-color: rgba(52, 199, 89, 0.95);
    color: white;
  }
  
  &.error {
    background-color: rgba(255, 59, 48, 0.95);
    color: white;
  }
}

  .cart-container-top {
    position: relative;

    border-bottom: 1px solid v.$border-color;

    h2 {
      padding: 1rem;
      padding-top: 1.75rem;

      font-family: v.$font-body;

      font-size: v.$fs-heading;
      font-weight: 600;
    }

    .icon {
      position: absolute;

      top: 1.25rem;
      right: 1rem;

      width: 2.125rem;
      height: 2.125rem;
    }
  }

  .cart-container-middle {
    @include m.flexColLeft;
    flex-direction: column;

    padding: 0.125rem 0.25rem;

    height: 19rem;
    overflow-y: scroll;
  }

  .cart-container-bottom {
    @include m.flexCenter;
    flex-direction: column;

    padding: 1rem 1.5rem;

    border-top: 1px solid v.$border-color;

    .subtotal-container {
      @include m.flexLeftCenter;

      padding: 0.25rem 0;

      width: 100%;

      .subtotal,
      .subtotal-number {
        font-size: v.$fs-sub;
      }

      .subtotal-number {
        margin-left: auto;
      }
    }

    .checkout-btn-container {
      @include m.flexCenter;

      padding: 0.5rem;

      .checkout-btn {
        padding: 0.75rem 2rem;

        border: 1px solid v.$accent;
        border-radius: 0.3rem;

        font-size: v.$fs-sub;

        color: v.$accent;

        transition: scale, 150ms;

        &:active {
            scale: 105%;
        }
      }
    }
  }
}
