@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.category-accordion-container {
  position: relative;
  top: -5rem;

  @include m.flexCenter;
  flex-direction: column;

  gap: 0.5rem;

  padding: 0.5rem 0;

  width: 92.5%;
  height: 100%;
  
  z-index: 100;

  h2 {
    font-size: v.$fs-heading;
    font-weight: bold;
  }

  .category-accordion-item {
    @include m.flexLeftCenter;

    padding: 0.75rem;

    width: 100%;

    border: 1px solid v.$accent-2;
    border-radius: 0.3rem;

    color: white;
    transition: all 0.2s;

    &.selected {
      background: v.$accent;
      border-color: v.$accent;

      span {
        font-weight: 600;
      }

      .arrow svg {
        color: white;
      }
    }

    .arrow {
      position: relative;
      right: -0.5rem;

      @include m.flexCenter;

      margin-left: auto;

      svg {
        width: 1.5rem;
        height: 1.5rem;

        color: v.$border-color;
      }
    }
  }

  @media (min-width: v.$desktop) {
    position: absolute;
    top: 10.5rem;
    left: 0;

    padding: 0.5rem;

    max-width: 20rem;
    height: 36.25rem;

    
    border: 1px solid v.$accent;
    
    border-radius: 0.5rem;
  }
}


