@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 9999;
  animation: fadeIn 0.2s ease-in-out;

  @media (min-width: v.$desktop) {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;

  @include m.flexColLeft;

  padding: 0.5rem;

  width: 100%;
  max-height: 30rem;

  z-index: 10000;

  border: 1px solid v.$accent;
  border-radius: 0.5rem;

  background-color: v.$bg-color;

  .overlay-top {
    @include m.flexColLeft;

    width: 100%;

    .overlay-btns {
      @include m.flexCenter;

      padding-bottom: 0;

      width: 100%;

      .overlay-back-btn,
      .overlay-close-btn {
        @include m.flexCenter;
        color: white;

        padding: 1rem 0.25rem;
        padding-bottom: 0;
      }

      .overlay-back-btn {
        font-size: v.$fs-body;

        svg {
          color: v.$accent; 
        }
      }

      .overlay-close-btn {
        margin-left: auto;
      }
    }

    .overlay-title-container {
      @include m.flexCenter;

      padding: 1rem;

      width: 100%;

      .overlay-title {
        font-size: v.$fs-heading;
        font-weight: 700;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .overlay-list {
    @include m.flexColLeft;

    width: 100%;
    height: 100%;

    .overlay-list-item {
      text-align: left;

      padding: 1rem 0.5rem;

      width: 100%;

      border-top: 1px solid v.$accent;

      color: white;

      font-size: v.$fs-subheading-2;

      @media (min-width: v.$desktop) {
          font-size: v.$fs-sub;
      }

      &.overlay-all-category {
        font-weight: 600;
        color: v.$accent-2;
      }
    }
  }

  @media (min-width: v.$desktop) {
    top: 10.5rem;
    left: 0;

    max-width: 20rem;
  }
}
