@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.category-stack-container {
  position: relative;

  @include m.flexCenter;
  flex-direction: column;

  @media (min-width: v.$desktop) {
    position: sticky;
    top: 0;

    align-items: flex-start;

    margin-right: 1rem;
    padding-bottom: 5rem;

    min-width: 20rem;
    max-height: 100vh;

    overflow-y: auto;
    scrollbar-width: none;
  }
}
