@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.contact-content-container {
    @include m.flexCenter;
    flex-direction: column;

    gap: 0.85rem;

    grid-column: 1/-1;

    margin-bottom: 4.3rem;

    .contact-content-container-top, .contact-content-container-bottom {
        @include m.flexCenter;
        flex-direction: column;

        gap: 1rem;

        margin-bottom: 0.75rem;
    }

    .contact-content-container-top {
        h1, h2 {
            text-align: center;
        }

        h1 {
            font-size: v.$fs-heading;
            font-weight: bold;
        }

        h2 {
            font-size: v.$fs-small;
            color: v.$body-text-color;
        }
    }

    .contact-content-container-bottom {
        @include m.flexCenter;
        flex-direction: column;

        gap: 0.75rem;

        width: 100%;

        .error-display {
        padding: 0.75rem 1rem;

        width: 100%;

        border-radius: 0.5rem;
        margin-bottom: 0.5rem;

        font-size: v.$fs-sub;
        animation: slideIn 0.3s ease-out;

        &.success {
            background-color: rgba(52, 199, 89, 0.15);
            color: #34c759;
            border-left: 3px solid #34c759;
        }

        &.error {
            background-color: rgba(255, 59, 48, 0.15);
            color: #ff3b30;
            border-left: 3px solid #ff3b30;
        }
    }

        .input-container {
            padding: 0.7rem;

            width: 100%;

            border: 1px solid v.$accent;
            border-radius: 0.3rem;

            input {
                width: 100%;
                
                border: none;

                background-color: transparent;

                font-size: v.$fs-body;

                &:focus {
                    outline: none;

                }
            }

            input, textarea {
                font-family: v.$font-body;
                color: white;

                &::placeholder {
                    color: white;
                    opacity: 1;
                }
            }
        }

        .message-container {
            height: 7rem;

            textarea {
                width: 100%;
                min-height: 100%;

                resize: none;

                border: none;

                font-size: v.$fs-body;

                background-color: transparent;

                &:focus {
                    outline: none;
                }
            }
        }

        .send-button-container {
            @include m.flexCenter;



            button {
                padding: 0.6rem 2.5rem;

                color: v.$accent;

                border: 1px solid v.$accent;
                border-radius: 0.3rem;

                font-size: v.$fs-sub;
            }
        }
    }

    @media (min-width: v.$small-tablet) {
        .contact-content-container-top, .contact-content-container-bottom {
            width: 80%;
        }
    }

    @media (min-width: v.$tablet) {
        .contact-content-container-top, .contact-content-container-bottom {
            width: 60%;
        }
    }

    @media (min-width: v.$desktop) {
        .contact-content-container-top, .contact-content-container-bottom {
            width: 50%;
        }
    }
}