@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.contact-content-container {
    @include m.flexCenter;
    flex-direction: column;

    gap: 0.85rem;

    grid-column: 1/-1;

    margin-bottom: 4.3rem;

    .contact-content-container-top, .contact-content-container-bottom {
        @include m.flexCenter;
        flex-direction: column;

        gap: 1rem;

        margin-bottom: 0.75rem;
    }

    .contact-content-container-top {
        h1, h2 {
            text-align: center;
        }

        h1 {
            font-size: v.$fs-heading;
            font-weight: bold;
        }

        h2 {
            font-size: v.$fs-small;
            color: v.$body-text-color;
        }
    }

    .contact-content-container-bottom {
        @include m.flexCenter;
        flex-direction: column;

        gap: 0.82rem;

        width: 100%;

        .input-container {
            padding: 0.7rem;

            width: 100%;

            border: 1px solid v.$accent;
            border-radius: 0.3rem;

            input {
                width: 100%;

                color: v.$body-text-color;
                
                border: none;

                background-color: transparent;

                font-size: v.$fs-body;

                &:focus {
                    outline: none;

                }
            }

            input, textarea {
                font-family: v.$font-body;
            }
        }

        .message-container {
            height: 7rem;

            textarea {
                width: 100%;
                min-height: 100%;

                resize: none;

                color: v.$body-text-color;

                border: none;

                font-size: v.$fs-body;

                background-color: transparent;

                &:focus {
                    outline: none;
                }
            }
        }

        .send-button-container {
            @include m.flexCenter;

            margin-top: 0.5rem;

            button {
                padding: 0.6rem 2.5rem;

                color: v.$accent;

                border: 1px solid v.$accent;
                border-radius: 0.3rem;

                font-size: v.$fs-sub;
            }
        }
    }
}