@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.featured-products-container {
    @include m.flexCenter;
    flex-direction: column;

    h2 {
        font-size: v.$fs-subheading-2;
        margin-bottom: 0.5rem
    }

    .product-cards-container {
        @include m.flexCenter;

        justify-content: space-between;

        width: 100%;
    }

    
}