@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.footer-container {
    @include m.flexCenter;
    justify-content: space-around;

    grid-column: 1 / -1;
    width: 100vw;

    margin-top: auto;

    margin-left: calc(50% - 50vw);
    padding-bottom: 1rem;
    
    border-top: 1px solid v.$accent;

    .footer-section {
        @include m.flexCenter;

        flex: 1;

        padding: 0.5rem 1rem;

        width: 100%;
        height: 100%;

        letter-spacing: -0.015em;

        .footer-section-center-div {
            display: flex;            
            flex-direction: column;

            gap: 0.5rem;

            height: 100%;

            font-family: v.$font-body;
            font-size: v.$fs-body;

            h2 {
                width: 100%;
                font-size: v.$fs-sub;
                font-weight: 550;
            }

            ul {
                display: flex;
                flex-direction: column;

                width: 100%;
                list-style: none;

                li {
                    padding: 0.3rem 0;
                }

            }

            .socials-links {
                display: flex;
                justify-content: space-between;

                gap: 0.5rem;

                width: 100%;

                .icon-container {
                    @include m.flexCenter;

                    padding: 0.25rem;

                    border: 1px solid v.$accent;
                    border-radius: 100%;


                    .icon {
                        @include m.flexCenter;
                        
                        color: v.$accent;

                        width: 2.3rem;
                        height: 2.3rem;
                    }
                }
            }
        }
    }

    .footer-section-middle {
        display: none;
    }

    .footer-section-right {
        h2 {
            text-align: center;
        }
    }
}