@use "@/styles/variables" as v;
@use "@/styles/mixins/mixins" as m;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Commented out for testing - bg color wasn't showing correctly on phone */

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  font-family: v.$font-body;
  background-color: v.$bg-color;
  color: v.$text-color;

  list-style-type: none;
  text-decoration: none;
}

.dropdown-open {
  overflow-y: hidden;
}

h1,
h2,
h3 {
  font-family: v.$font-body;
  font-weight: 400;

  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;

  min-height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin: 1rem auto;

  padding: 0 1rem;

  max-width: v.$max-width;
  min-height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: v.$font-body;
}

a {
  color: white;
  text-decoration: none;
  font-family: v.$font-body;
}

a:visited {
  color: white;
  text-decoration: none;
}

@include m.tablet {
  .container {
    grid-template-columns: repeat(8, 1fr);
    padding: 0 2rem;
  }
}

@include m.desktop {
  .container {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 1rem;
  }
}
