@use "@/styles/variables" as v;

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;   
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Commented out for testing - bg color wasn't showing correctly on phone */

/* html, body {
    height: 100vh;
    min-height: 100%;
} */

body{
    font-family: v.$font-body;
    background-color: v.$bg-color;
    color: v.$text-color;

    list-style-type: none;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: v.$font-body;
    font-weight: 400;

    text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: v.$max-width;
  width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: v.$font-body;
}

a {
    color: white;
    text-decoration: none;
    font-family: v.$font-body;
}

a:visited {
    color: white;
    text-decoration: none;
}


@media (min-width: v.$tablet) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        padding: 0 2rem;
    }
}
@media (min-width: v.$desktop) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        padding: 0 4rem;
    }
}