@use '@/styles/mixins/mixins.scss';
@use "@/styles/variables" as v;

.header-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    @include mixins.flexCenter;

    padding: 0.5rem 1rem;
    margin: 0 auto;
    max-width: v.$max-width;
    width: 100%;

    z-index: 10000;

    background-color: v.$bg-color;

    button {
        @include mixins.flexCenter;

        img, svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .logo {
        margin: 0 auto;
        transition: filter 0.3s ease;

        font-family: v.$font-display;
        font-size: v.$fs-hero;

        @include mixins.elementAccent;

    }
}

