@use '@/styles/mixins/mixins.scss' as m;
@use "@/styles/variables" as v;

.header-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    @include m.flexCenter;

    padding: 0.45rem 1rem;
    margin: 0 auto;
    max-width: v.$max-width;
    width: 100%;

    z-index: 10000;

    background-color: v.$bg-color;

    button {
        @include m.flexCenter;

        img, svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .logo {
        position: absolute;

        transition: filter 0.3s ease;

        font-family: v.$font-display;
        font-size: v.$fs-hero;

        @include m.elementAccent;

    }

    .right-actions {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        margin-left: auto;

        .account-link {
            position: relative;
            display: none;

            padding: 0.25rem 0;

            color: v.$text-color;
            font-family: v.$font-body;
            font-size: v.$fs-sub;

            transition: color 200ms ease;

            &:hover {
                color: v.$accent;

                cursor: pointer;
            }

            &.active {
                color: v.$accent;
                
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: v.$accent;
                }
            }

            @media (min-width: v.$desktop) {
                display: inline;
            }
        }
    }

    .cart-btn {
        transition: scale, 150ms;

        color: white;

        &:active {
            scale: 105%;
        }
    }

    .desktop-nav {
        margin-right: auto;
    }
}

