@use '@/styles/mixins/mixins.scss';
@use "@/styles/variables" as v;

.header-container {
    position: relative;
    @include mixins.flexCenter;
    grid-column: 1 / -1;

    margin-top: 0.5em;

    z-index: 1000;

    button {
        @include mixins.flexCenter;

        img, svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .logo {
        margin: 0 auto;
        transition: filter 0.3s ease;

        font-family: v.$font-display;
        font-size: v.$fs-hero;

        @include mixins.elementAccent;

    }
}

