@use "@/styles/variables.scss" as v;

.hero-section {
    flex-direction: column;
    
    gap: 1.5rem;

    padding-top: 1rem;

    color: v.$hero-text-color;
    background: linear-gradient(180deg, #0A0A0F 0%, #121214 100%);

    h1 {
        font-family: v.$font-display;
        font-size: v.$fs-heading;
    }

    h1, p {
        text-align: center;
    }

    @media (min-width: v.$desktop) {
        height: 20rem;
    }
}