@import "../styles/mixins/mixins.scss";

.header-container {
    @include flexCenter;
    grid-column: 1 / -1;

    margin-top: 1em;

    button {
        @include flexCenter;

        img, svg {
            width: 2em;
            height: 2em;
        }
    }

    .logo {
        margin: 0 auto;
    }
}