@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.nav-overlay {
    position: fixed;
    right: 0;
    top: 3rem;

    width: 100%;
    height: 100vh;

    padding: 1rem;
    padding-top: 1.5rem;

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 1000;

    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }

    &.closing {
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms ease-in;
    }
}

.mobile-nav {
    position: fixed;
    left: 0;
    top: 0;

    @include m.flexColLeft;

    margin-top: 3rem;
    padding: 3em 1em;

    width: 10rem;

    height: 93vh;
    z-index: 1000;

    background-color: v.$drop-down-bg-color;

    transform: translateX(-100%);
    opacity: 0;
    transition: transform 200ms ease, opacity 200ms ease;

    &.open {
        transform: translateX(0);
        opacity: 1;
    }

    &.closing {
        transform: translateX(-20%);
        opacity: 0;
        transition: transform 300ms ease, opacity 300ms ease;
    }

    a {
        display: block;
        margin: 0.5em 0;
        font-size: v.$fs-heading;
        
        width: 100%;

        @include m.elementAccent;
        
        span {
            display: inline-block;
            border-bottom: 1px solid white;
        }
    }
}

.desktop-nav {
    display: none;
}

@media (min-width: v.$desktop) {
    .mobile-nav {
        display: none;
    }

    .dropdown-icon {
        display: none;
    }

    .desktop-nav {
        @include m.flexCenter;

        gap: 1.5rem;

        a {
        @include m.flexCenter;
        font-size: v.$fs-sub;
        
        padding: 0.25rem;
        position: relative;

        transition: color 200ms ease;

        &:hover {
            color: v.$accent;

            cursor: pointer;
        }

        &.active {
            color: v.$accent;
                
            span::after {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 0;
                width: 100%;
                height: 2px;
                background: v.$accent;
            }
        }
        
        span {
            display: inline-block;
            position: relative;
        }
    }
    }
}