@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.mobile-nav {
    position: absolute;
    left: 0;
    top: 0.5rem;

    @include m.flexColLeft;

    margin-top: 3rem;
    padding: 3em 1em;

    width: 10rem;

    height: 93vh;
    z-index: 1000;

    background-color: v.$drop-down-bg-color;

    a {
        display: block;
        margin: 0.5em 0;
        font-size: v.$fs-heading;
        
        width: 100%;

        @include m.elementAccent;
        
        span {
            display: inline-block;
            border-bottom: 1px solid white;
        }
    }
}

.desktop-nav {
    display: none;
}

@media (min-width: v.$desktop) {
    .mobile-nav {
        display: none;
    }

    .dropdown-icon {
        display: none;
    }

    .desktop-nav {
        @include m.flexCenter;

        gap: 0.5rem;

        a {
        display: block;
        font-size: v.$fs-sub;
        
        width: 100%;

        @include m.elementAccent;
        
        span {
            display: inline-block;
        }
    }
    }
}