@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.product-detail-container {
    @include m.flexCenter;
    flex-direction: column;

    width: 100%;

    .product-detail-container-top, .product-detail-container-bottom {
        @include m.flexCenter;

        width: 100%;
    }

    .product-detail-container-top {
        flex-direction: column;

        gap: 0.5rem;

        .product-detail-image-container {
            @include m.flexCenter;

            width: 20rem;
            height: 20rem;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                object-position: center 25%;
            }
        }

        h2 {
            font-size: v.$fs-heading;
        }

        .product-price {
            color: v.$accent-2;

            font-size: v.$fs-sub;
        }

        .price-container {
            position: relative;
            display: inline-block;

            .original-price {
              position: absolute;
              top: -0.25rem;
              right: -3.75rem;
              color: v.$error-color;
              text-decoration: line-through;
              font-size: 1rem;
              opacity: 0.9;
              margin: 0;
            }
        }

        .add-to-cart {
            padding: 0.5rem 1.25rem;

            margin: 0.75rem 0;

            border: 1px solid v.$accent;
            border-radius: 0.5rem;

            color: v.$accent;
            background-color: v.$button-bg-color;

            font-size: v.$fs-sub;

            transition: scale, 150ms;

            &:active {
                scale: 105%;
            }
        }

        .product-detail-desc {
            @include m.flexColLeft;

            padding: 0.5rem 0.75rem;

            width: 100%;
            
            h3 {
                margin-bottom: 0.5rem;

                font-size: v.$fs-subheading-2;
            }

            p {
                margin-bottom: 0.5rem;

                color: v.$body-text-color;

                font-size: v.$fs-body;
            }
        }
    }

    .product-detail-container-bottom {
        gap: 1rem;

        padding: 0.5rem;
    }
}