@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.product-container {
    @include m.flexLeftCenter;

    width: 100%;

    padding: 0.75rem 0.5rem;

    @media (min-width: v.$tablet) {
        padding: 0.75rem 1.25rem;
    }

   .product-image-container {
    flex-shrink: 0;
    
    width: 4.5rem;
    height: 4.5rem;
    min-width: 4.5rem;
    min-height: 4.5rem;
    max-width: 4.5rem;
    max-height: 4.5rem;

    border-radius: 0.3rem;

    background-color: v.$product-bg;

    overflow: hidden;

    .product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 25%;
      display: block;
    }
   }

   .cart-item-info {
        @include m.flexColLeft;

        padding: 0.5rem;

        width: 25rem;

        p, .product-count-container {
            padding: 0.25rem 0.5rem;
        }

        p {

            font-size: v.$fs-sub;
        }
    }

    .product-count-container {
        display: flex;
        align-items: center;

        gap: 0.45rem;

        width: 100%;

        span {
            font-size: v.$fs-sub;
        }

        button {
            padding: 0.25rem;

            flex-shrink: 0;
            width: 1.65rem;
            height: 1.65rem;

            border-radius: 0.3rem;

            background-color: v.$button-bg-color;

            color: white;

            .icon {
                width: 0.75rem;
                height: 0.75rem;
            }
        }

        .count {
            flex: 0 1 auto;

            text-align: center;

            padding: 0.25rem;
            
            min-width: 1.65rem;
            max-width: 2.8rem;
            height: 1.65rem;

            border: 1px solid transparent;
            border-radius: 0.3rem;

            background-color: v.$button-bg-color;
            
            color: v.$accent;
            font-size: v.$fs-body;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &[type=number] {
              -moz-appearance: textfield;
            }

            &:focus {
              outline: none;
            }
        }

        .trash-icon {
            color: hsl(0, 69%, 40%);
        }
    }

    .price-container {
        @include m.flexCenter;

        margin-left: auto;

        span {
            @include m.flexCenter;

            font-size: v.$fs-body;

            @media (min-width: v.$tablet) {
                font-size: v.$fs-sub;
            }
        }
    }
}