@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.product-detail-container {
    @include m.flexCenter;
    flex-direction: column;

    width: 100%;

    .product-detail-container-top, .product-detail-container-bottom {
        @include m.flexCenter;

        width: 100%;
    }

    .product-detail-container-top {
        flex-direction: column;

        .product-detail-image-container {
            @include m.flexCenter;

            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 25rem;

                object-fit: scale-down;
                object-position: center 25%;
            }
        }


    }

    .product-detail-container-bottom {
        gap: 1rem;
    }
}