@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.product-container {
    @include m.flexLeftCenter;


    width: 100%;

    padding: 0.75rem 1.25rem;

   .product-image-container {
    width: 4.5rem;
    height: 4.5rem;

    border-radius: 0.3rem;

    background-color: v.$product-bg;

    
    
   }

   .cart-item-info {
        @include m.flexColLeft;

        padding: 0.5rem;

        p, .product-count-container {
            padding: 0.25rem 0.5rem;
        }

        p {

            font-size: v.$fs-sub;
        }
    }

    .product-count-container {
        display: flex;
        align-items: center;

        gap: 0.75rem;

        span {
            font-size: v.$fs-sub;
        }

        button {
            padding: 0.25rem;

            width: 1.65rem;
            height: 1.65rem;

            border-radius: 0.3rem;

            background-color: v.$button-bg-color;

            color: white;

            .icon {
                width: 0.75rem;
                height: 0.75rem;
            }
        }

        .trash-icon {
            color: hsl(0, 69%, 40%);
        }
    }

    .price-container {
        @include m.flexCenter;

        margin-left: auto;

        span {
            font-size: v.$fs-sub;
        }
    }
}