@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.product-container {
    @include m.flexCenter;

    padding: 0.75rem 1.25rem;

   .product-image-container {
    width: 4.5rem;
    height: 4.5rem;

    border-radius: 0.3rem;

    background-color: v.$product-bg;
   }

}