@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.product-detail-container {
    @include m.flexCenter;
    flex-direction: column;

    width: 100%;

    .product-detail-container-top, .product-detail-container-bottom {
        @include m.flexCenter;

        width: 100%;
    }

    .product-detail-container-top {
        flex-direction: column;

        gap: 0.5rem;

        .product-detail-image-container {
            @include m.flexCenter;

            width: 20rem;
            height: 20rem;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                object-position: center 25%;
            }
        }

        h2 {
            font-size: v.$fs-heading;
        }

        .product-price {
            font-size: v.$fs-sub;
            color: v.$accent-2;
        }

        .price-container {
            @include m.flexCenter;
            flex-direction: column;

            gap: 0.15rem;

            width: 100%;
            min-height: 2.1rem;

            .original-price {
              margin: 0;

              font-size: 0.9rem;
              color: v.$error-color;
              text-decoration: line-through;

              opacity: 0.8;
              line-height: 1;

              &.hidden {
                visibility: hidden;
              }
            }
        }

         .product-count {
            @include m.flexCenter;

            width: 9rem;

            border: 1px solid v.$accent;
            border-radius: 0.5rem;


            .count-down, .count-up {
                @include m.flexCenter;
                flex: 1;

                color: v.$accent;
            }

            .count-down, .count-up, .count {
                height: 2rem;
            }

            .count {
                @include m.flexCenter;
                
                flex: 2;

                width: 100%;

                border-right: 1px solid v.$accent;
                border-left: 1px solid v.$accent;

                background-color: transparent;
                color: v.$accent;
                font-size: v.$fs-body;
                text-align: center;

                border: none;

                &[type=number] {
                  -moz-appearance: textfield;
                }

                &:focus {
                  outline: none;
                }
            }
        }

        .add-to-cart {
            padding: 0.5rem 1.25rem;

            margin: 0.75rem 0;

            border: 1px solid v.$accent;
            border-radius: 0.5rem;

            color: v.$accent;
            background-color: v.$button-bg-color;

            font-size: v.$fs-sub;

            transition: scale, 150ms;

            &:active {
                scale: 105%;
            }
        }

        .product-detail-desc {
            @include m.flexColLeft;

            padding: 0.5rem 0.75rem;

            width: 100%;
            
            h3 {
                margin-bottom: 0.5rem;

                font-size: v.$fs-subheading-2;
            }

            p {
                margin-bottom: 0.5rem;

                color: v.$body-text-color;

                font-size: v.$fs-body;
            }
        }
    }

    .product-detail-container-bottom {
        gap: 1rem;

        padding: 0.5rem;
    }
}