@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.promo-container {
    @include m.flexCenter;
        flex-direction: column;
    
        width: 100%;
        height: 100%;

        margin-bottom: 1rem;

        border: 1px solid v.$accent;
        border-radius: 0.3rem;

    .promo-container-top {
        @include m.flexCenter;
        background-color: v.$section-bg;

        width: 100%;
        height: 100%;

        border: 1px solid transparent;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        aspect-ratio: 16 / 9;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .promo-container-bottom {
        @include m.flexCenter;
        flex-direction: column;

        gap: 0.5rem;

        padding: 0.5rem 1rem;

        .promo-title, .promo-text {
            width: 100%;

            padding: 0.5rem 0;
        }

        .promo-title {
            font-size: v.$fs-subheading;

            color: v.$accent;
        }

        .promo-text {
            font-size: v.$fs-body;

            min-height: 5rem;

            overflow: hidden;
        }
    }
}

@media (min-width: v.$desktop) {
        .promo-container {
            flex-direction: row;

            height: 25rem;

            .promo-container-top, .promo-container-bottom {
                height: 100%
            }

            .promo-container-bottom {
                a {
                    margin-top: 3rem;
                }
            }
        }
}