@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.promo-container {
    @include m.flexCenter;
    flex-direction: column;

    grid-column: 1 / -1;

    gap: 1rem;

    .promo-container-top {
        @include m.flexCenter;

        grid-column: 1 / -1;
    
        height: 15rem;
        width: 100%;

        border: 1px solid v.$accent;
        border-radius: 0.3rem;

        .promo-container-top-left {

            @include m.flexCenter;
            background-color: v.$section-bg;

            width: 100%;
            height: 100%;

            border: 1px solid transparent;
            border-radius: 0.3rem;

            img {
                width: 100%;
                height: 100%;
            }
    }

        .promo-container-top-right {


            @include m.flexCenter;
            flex-direction: column;
            
            height: 100%;
            width: 100%;

            gap: 0.5rem;

            padding: 0.5rem 1rem;

            .promo-title, .promo-text {
                width: 100%;
            }

            .promo-title {
                font-size: v.$fs-subheading;

                color: v.$accent;
            }

            .promo-text {
                font-size: v.$fs-body;
            }
        }
    }

    .promo-container-bottom {
        @include m.flexCenter;

        width: 100%;
    }
}