@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.promo-card {
    @include m.flexCenter;
        flex-direction: column;
    
        width: 100%;
        height: 100%;

        margin-bottom: 1rem;

        border: 1px solid v.$accent;
        border-radius: 0.3rem;
    
    .promo-card-top {
        @include m.flexCenter;
        background-color: v.$section-bg;

        width: 100%;
        height: 100%;

        border: 1px solid transparent;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        aspect-ratio: 16 / 9;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .promo-card-bottom {
        @include m.flexCenter;
        flex-direction: column;

        gap: 0.5rem;

        padding: 0.5rem 1rem;

        .promo-title, .promo-text {
            width: 100%;

            padding: 0.5rem 0;
        }

        .promo-title {
            font-size: v.$fs-subheading;

            color: v.$accent;
        }

        .promo-text {
            font-size: v.$fs-body;

            min-height: 5rem;

            overflow: hidden;
        }
    }
}

@media (min-width: v.$small-tablet) {
   .promo-card-top {
    max-height: 17.5rem;

    .promo-image {
        object-position: center -5%;
    }
   }
}

@media (min-width: v.$tablet) {
    .promo-card-top {
        max-height: 25rem;

        .promo-image {
        object-position: center 25%;
        }
   }
}


@media (min-width: v.$desktop) {
        .promo-card {
            flex-direction: row;

            gap: 2rem;

            height: 25rem;

            border: none;

            .promo-card-top, .promo-card-bottom {
                height: 100%
            }

            .promo-card-bottom {
                border: 1px solid v.$accent;

                a {
                    margin-top: 0rem;
                }
            }
        }
}

