@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.promo-container {
    @include m.flexCenter;
        flex-direction: column;

        grid-column: 1 / -1;
    
        width: 100%;
        height: 100%;

        border: 1px solid v.$accent;
        border-radius: 0.3rem;

    .promo-container-top {
        @include m.flexCenter;
        background-color: v.$section-bg;

        border: 1px solid transparent;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .promo-container-bottom {
        @include m.flexCenter;
        flex-direction: column;

        gap: 0.5rem;

        padding: 0.5rem 1rem;

        .promo-title, .promo-text {
            width: 100%;

            padding: 0.5rem 0;
        }

        .promo-title {
            font-size: v.$fs-subheading;

            color: v.$accent;
        }

        .promo-text {
            font-size: v.$fs-body;

            min-height: 5rem;

            overflow: hidden;
        }
    }

    .promo-container-top, .promo-container-bottom {
        flex: 1;

        width: 100%;
        height: 12.5rem;
    }
}