@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.shop-products-container {
  @include m.flexCenter;
  flex-direction: column;

  padding: 1rem 0;

  width: 100%;
  height: 100%;

  h2 {
    padding-top: 0.5rem;

    font-size: v.$fs-subheading;
    font-weight: 650;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin: 1rem 0;

    width: 100%;

    .shop-product-card {
      display: flex;
      flex-direction: column;

      width: 100%;
      min-width: 0;

      border: 1px solid v.$accent;
      border-radius: 0.5rem;

      .product-card-top,
      .product-card-bottom {
        @include m.flexCenter;
        flex-direction: column;
      }

      .product-card-top {
        aspect-ratio: 4 / 3;
        width: 100%;
        height: 10rem;

        background: #0a0a0a;

        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        .product-card-image {
          width: 100%;
          height: 100%;

          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;

          object-fit: cover;
          object-position: center 25%;

          background-color: v.$section-bg;          
        }
      }

      .product-card-bottom {
        padding: 0.25rem;

        width: 100%;
        height: 7.5rem;

        border-top: 1px solid v.$accent;

        z-index: 1000;

        h3,
        p {
          padding: 0.25rem 0;

          width: 100%;

          text-align: center;
        }

        h3 {
          font-size: v.$fs-subheading-2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }

        p {
          font-size: v.$fs-sub;
          color: v.$accent-2;
        }

        .add-to-cart-btn {
          margin-top: 0.5rem;
          padding: 0.5rem 0.25rem;

          color: v.$accent;

          border: 1px solid v.$accent;
          border-radius: 0.3rem;

          font-size: v.$fs-body;
          font-weight: bold;

          transition: scale, 150ms;

          &:active {
            scale: 105%;
          }
        }
      }
    }
  }

  @media (min-width: v.$desktop) {
    .product-grid {
      grid-template-columns: repeat(6, 1fr);
    }

    .product-card-top {
      min-height: 12rem;
    }
  }
}
