@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.shop-products-container {
  @include m.flexCenter;
  flex-direction: column;

  padding: 1rem 0;

  width: 100%;
  height: 100%;

  h2 {
    padding-top: 0.5rem;

    font-size: v.$fs-subheading;
    font-weight: 650;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin: 1rem 0;

    width: 100%;

    .shop-product-card {
      display: flex;
      flex-direction: column;

      width: 100%;
      min-width: 0;

      border: 1px solid v.$accent;
      border-radius: 0.5rem;

      .product-card-top,
      .product-card-bottom {
        @include m.flexCenter;
        flex-direction: column;
      }

      .product-card-top {
        aspect-ratio: 4 / 3;
        width: 100%;
        height: 10rem;

        background: #0a0a0a;

        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        .product-card-image {
          width: 100%;
          height: 100%;

          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;

          object-fit: cover;
          object-position: center 25%;

          background-color: v.$section-bg;          
        }
      }

      .product-card-bottom {
        padding: 0.25rem;

        width: 100%;
        height: 7.75rem;

        border-top: 1px solid v.$accent;

        h3,
        p {
          padding: 0.25rem 0;

          width: 100%;

          text-align: center;
        }

        h3 {
          font-size: v.$fs-subheading-2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }

        p {
          font-size: v.$fs-sub;
          color: v.$accent-2;
        }

        .price-container {
          @include m.flexCenter;
          flex-direction: column;

          gap: 0.08rem;

          margin-top: 0.25rem;
          width: 100%;
          min-height: 1.5rem;

          .price {
            margin: 0;

            font-size: v.$fs-small;
            color: v.$accent-2;

            line-height: 1;
          }

          .original-price {
            margin: 0;
            padding: 0;
            padding-bottom: 0.25rem;

            font-size: v.$fs-small;
            color: v.$error-color;
            text-decoration: line-through;

            opacity: 0.8;
            line-height: 1;

            &.hidden {
              visibility: hidden;
            }
          }
        }

        .add-to-cart-btn {
          display: flex;
          justify-content: center;

          margin-top: 0.5rem;

          width: 100%;
          height: 2.5rem;

          border: 1px solid v.$accent;
          border-radius: 0.3rem;

          overflow: hidden;

          transition: scale, 150ms;

          &:active {
            scale: 105%;
          }

          .text-container {
            @include m.flexCenter;

            width: 100%;
            height: 100%;

            span {
              display: flex;
              align-items: center;

              color: white;

              font-size: v.$fs-body;
              font-weight: bold;
            }
          }

          .icon-container {
            display: inline;

            width: 3em;
            height: 100%;
            
            background-color: rgba(v.$accent, 0.75);

            .icon {
              width: 1.25rem;
              height: 100%;

              color: white;
            }
          }
        }
      }
    }
  }

  @media (min-width: v.$small-tablet) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
      
      .shop-product-card {
        .product-card-top {
          aspect-ratio: 1 / 1;
          height: auto;

          .product-card-image {
            object-fit: cover;
            object-position: center 25%;
          }
        }
      }
    }
  }

  @media (min-width: v.$tablet) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: v.$desktop) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr);

      .shop-product-card{

        .product-card-top {
          min-height: 12rem;
        }

        .product-card-bottom {
          p {
            font-size: v.$fs-body;
          }

          .price-container {
            .price {
              font-size: v.$fs-body;
            }

            .original-price {
              font-size: v.$fs-small;
            }
          }
        }
      }
    }
  }
}
