@use "@/styles/variables" as v;

.shop-now-btn, .shop-now-btn:visited {
        color: v.$accent;

        padding: 0.5rem 1.25rem;

        background-color: v.$button-bg-color;

        border: 1px solid v.$accent;
        border-radius: 0.5rem;

        font-size: v.$fs-sub;
}