@use "@/styles/mixins/mixins" as m;
/* @use "@/styles/variables" as v; */

.shop-content-container {
  position: relative;

  @include m.flexCenter;
  flex-direction: column;

  width: 100%;
}

.accordion-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 99;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
