@use "@/styles/mixins/mixins" as m;
@use "@/styles/variables" as v;

.shop-products-container {
  @include m.flexCenter;
  flex-direction: column;

  padding: 1rem 0;

  width: 100%;
  height: 100%;

  h2 {
    padding-top: 0.5rem;

    font-size: v.$fs-subheading;
    font-weight: 650;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin: 1rem 0;

    width: 100%;
    height: 100%;

    .shop-product-card {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;

      border: 1px solid v.$accent;
      border-radius: 0.5rem;

      .product-card-top,
      .product-card-bottom {
        @include m.flexCenter;
        flex-direction: column;
      }

      .product-card-top {
        aspect-ratio: 4 / 3;
        width: 100%;

        background: #0a0a0a;

        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        .product-card-image {
          width: 100%;
          height: 100%;

          object-fit: contain;
        }
      }

      .product-card-bottom {
        height: 5rem;

        border-top: v.$accent;

        z-index: 1000;
      }

      .add-to-cart-btn {
        color: white;
      }
    }
  }
}
